<h1>Edit Drink</h1>

<form method="POST" action="/drinks/<%= drink.id %>" enctype="multipart/form-data">
  <div>
    <img src="<%= drink.imageSRC %>">
    <label for="image">Change Image</label>
    <input type="file" name="image" id="image">
  </div>
  <div>
    <label for="name">Drink Name</label>
    <textarea name="name" id="name"><%= drink.name %></textarea>
  </div>
  <div>
    <label for="description">Description</label>
    <textarea name="description" id="description"><%= drink.description %></textarea>
  </div>
  <div>
    <label for="location">Location</label>
    <input class="controls" id="location" name="location" value="<%= drink.location %>" style="width: 100%">
    <input type="hidden" name="latitude">
    <input type="hidden" name="longitude">
  </div>
  <div>
    <label for="otherInfo">Any other information...</label>
    <textarea name="otherInfo" id="otherInfo"><%= drink.otherInfo %></textarea>
  </div>
  <button class="button">Update</button>
</form>
